.quote-card {
    display: flex;
    width: fit-content;
    height: fit-content;
    border: solid black 1px;
    border-radius: 15px;
    justify-content: space-between;
    margin-left: 1rem;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width:750px) {
    .quote-card {
        display: block;
    }
}

.voting {
    width: 20%;
}

.upvote,
.downvote {
    display: flex;
    align-items: center;
}

.upvote-display,
.downvote-display {
    border: solid black 0.2px;
    padding-right: 10px;
}

.social-links {
    display: flex;
}

.social-links img {
    background-color: #265714;
    width: 20px;
    margin-left: 10px;
}

.author-details {
    color: #265714;
}