<div class="page-contents">
    <nav class="navbar">
        <a class="navbar-brand" href="#"><img src="../assets/Logo.png"></a>
        <ul class="links">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Quote of the day</a></li>
        </ul>
    </nav>
    <div class="image-section"></div>
    <div class="call-to-action">
        <p>“Come and give your say on these<br> masterpiece philosophies,<br> greatest philosopher wins...”</p>
    </div>
    <hr>
    <ol>
        <li>
            <div class="quote-card">
                <div class="voting">
                    <div class="upvote">
                        <div class="btn upvote-button"><img src="../assets/Polygon 1.png" width="40px" height="40px"></div>
                        <div class="upvote-display"></div>
                    </div>
                    <div class="downvote">
                        <div class="btn downvote-button"><img src="../assets/Polygon 2.png" width="40px" height="40px"></div>
                        <div class="downvote-display"></div>
                    </div>
                </div>
                <div class="quote-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis blanditiis omnis aliquid excepturi vel a?</p>
                    <div class="author-details">
                        <p>-authors name-</p>
                        <p>job-title</p>
                    </div>
                    <div class="social-links">
                        <a href="#"><img src="../assets/facebook.png" alt="facebook image"></a>
                        <a href="#"><img src="../assets/twitter.png" alt="twitter image"></a>
                        <a href="#"><img src="../assets/linkedin.png" alt="linkedin image"></a>
                        <a href="#"><img src="../assets/instagram.png" alt="instagram image"></a>
                    </div>
                </div>
            </div>
        </li>
    </ol>
</div>