<div class="page-contents">
    <nav class="navbar">
        <a class="navbar-brand" href="#"><img src="../assets/Logo.png"></a>
        <ul class="links">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Categories</a></li>
            <li class="nav-item"><a class="nav-link" id="quote-of-the-day" href="#">Quote of the day</a></li>
        </ul>
    </nav>
    <div class="image-section"></div>
    <div class="call-to-action">
        <p>“Come and give your say on these masterpiece philosophies,<br> may the greatest philosopher win...”</p>
    </div>
    <hr class="page-break">
    <app-quote-info></app-quote-info>
    <app-quote-form></app-quote-form>
</div>